  body{
  
  	margin: 40px;
  	font-family: "jaf-bernino-sans",sans-serif;
  	font-weight: 300;
  	font-size:  1em;
  	font-style: normal;
  	color:#414042;
  	}
  	
  a, a:visited{
  
  cursor: pointer;
  color:#414042;
  text-decoration: none;
  
  }
  
  
  
  img{
  border-color :gray;
  border-style: solid;
  border-width: 1px;
  
  }
  a:hover, a.active{
  color:#660033;
  }
  	
  #header{
  	-webkit-margin-after: 35px;	
  	

  
  }
  
  #leftText{
width: 225px;
height:41px;
float:left;

}



#rightText{
float:left;
height:20 px;
width:115px;
display: inline;
padding-left: 10px;
margin-top: 5px;
border-left-color: #660033;
border-left-style: solid;
border-left-width: 1px;

}

  
  #main_contain{
  width=1000px
  
  }
  
 .menu_div{
 width:690px;
 margin-bottom: 15px;
 margin-top:10px;
 position:absolute;
 } 
  
 #menu li{
 
	display: inline;
	margin-right:40px;
}
#menu{
margin-bottom: 5px;

}

 
 #work_content{
 /*height: 400 px;*/
 }
 
 #pub_internal_content, #exhib_internal_content, #links_internal_content, #projects_internal_content, #work_internal_content{
 	/*width:700px;
 	height: 400px;
 	overflow: hidden;
 	padding-left: 20px;*/
 
 }
 
  .title{
 margin-bottom: 15px;
 width:350px;
 }
 
 .title h2{
 margin: 0;
 }
 .back_div{
 margin-bottom: 15px;
 width:40px;
 float:left;
 }
 
 /*#work_menu_items{
  position:relative; margin:0px auto; padding:0px; width: 600px; height: 375px; overflow: hidden; 
 }*/
 
.singlecontent, #work_menu{
	position: absolute;
	margin-top: 20px;
  	/*margin-bottom: 20px;*/
	
 	
 }
 
 .blurb{
 	/*height:260px;
 	margin-top:30px;*/
 	margin-bottom: 10px;
 	overflow: hidden;
 
 }

.left {
   float: left;
   width:300px;
   margin-right:27px;
  }
 
.right {
   float: left;
   /*width:370px;*/
}

#about-content{
width:360px;

}

#portfolio_blurb.right{
width:500px;

}

.clear-both {
   clear: both;
}


.menu_item{
margin-bottom: 20px;
height: 100px;
}

.menu_item a{
font-weight: 400;

}
.menu_item_left{
   margin-right:27px;
  float: left;
	width:150px;
}


  	
  	h1, h2, h2 a, h2 a:visited, ul {
 	color:#660033;
 	font-size: 16px;
 	font-weight: 400;
 	font-style: normal;
 

 	-webkit-margin-before: 0.05em;
	-webkit-margin-after: 0.05em;	
  	}
  	
  	h1,h2{
  		margin:0;
  	}
  	
  	.heading{
  	margin-top:25px;
  	margin-bottom:15px;
  	font-size:1.2em;
  	
  	}
  	
  	h2, h2 a{
  		font-size:0.9em;
  	}
  	
  	#metacontent{
  	  font-size:0.8em;

  	}
  	ul{
  	padding-left: 0
  	
  	}
  	
  	p{
  	 font-weight: 300;
  	 margin-top: 0px;

  	}
  	
  	h1 em{
  	 	font-weight: 310;
  	 	font-style: normal;
  	 	font-size:32;

  	}
  	
  	
  	ul{
  	-webkit-padding-start: 0px;

  	


  	}
  	li{
		list-style-type: none;  
		color:#414042;	
		
  	}
  	
  
  
  /*slideshow junk lives here */
  .image_list img, .image_list iframe{
  margin-bottom: 8px;
  
  }
  
  .slideshow {
  
    position:relative;
    width:300px;
    height:200px;
    overflow: hidden;
     

}

.slideshow div {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity: 0.0;
}

.slideshow div.active {
    z-index:10;
    opacity: 1.0;
}

.slideshow div.last-active {
    z-index:9;
}